.login-container {
    margin-top: 20px;
    border-radius: 5%;
}

.card {
    border-color: darkgrey;
    border: none;
    max-width: 400px;
}

.title {
    text-align: center;
    font-size: 25px;
    font-variant: small-caps;
    margin: 0px 0px 20px 0px;
}

#submit-button {
    margin: 0px;
}

.input1 {
    border-color: #A5A58D;
    outline: none;
    margin: 0 0 20px;
    height: 50px;
}

.input2 {
    border-color: #A5A58D;
    outline: none;
    margin: 0 0 20px;
    height: 50px;
}