h4 {
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}

@media screen and (max-width: 600px) {
    .footer-container {
        display:block;
        text-align: center;
    }
}